<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启二级缓存,而一级缓存是默认开启的-->
        <setting name="cacheEnabled" value="true"/>
        <!--# 开启驼峰功能
        # 开启前 数据库表列：user_name 实体类属性：user_name
        # 开启后 数据库表列：user_name 实体类属性：userName-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>